<h1> Here our van</h1>

<div class="container" id="pricing">
  <div class="row">
    <% data.products.each do  |product| %>
      <div class="col xs-12 col-sm-6 col-md-4 text-center">
        <%= image_tag product.image %>
        <h2><%= product.name %></h2>
        <p><%= product.price %></p>
      </div>
    <% end %>
  </div>
</div>